{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Demo RAG v0</title>
  <link rel="stylesheet" href="{% static 'css/main_css/chat_demo.css' %}">
  <script src="https://cdn.plot.ly/plotly-3.1.1.min.js" charset="utf-8"></script> <!--For the Plotly-->
</head>
<body>
  <!-- Header -->
  <div id="header">

  </div> <!-- end #header -->

  <!-- Main Content -->
  <div class="content">
    <!-- Upload section -->
    <div class="col1">
      <h4>Upload files</h4>

      <div>
        <form method="post" id="upload_form">
          {% csrf_token %}
          <p>Upload your pdf files:</p>

          <input type="file" name="pdf_files" accept="application/pdf" id="file-input" multiple/>
          <input type="submit" value="Upload" id="submit-button" />

        </form>
      </div>

      <div id="uploaded-info"></div>
    </div>

<!-- Chat + Evaluation Row -->
<div class="col-row">
  
  <!-- Chat section -->
  <div class="col2">
    <div id="chat-messages">
      <p class="bot">Hello, how can I help you today?</p>
    </div>
    <div class="input-container">
      <input type="text" name="message" id="user-input" placeholder="Type your message..." />
      <button id="send-btn">Send</button>
    </div>
  </div>

  <!-- Evaluation -->
  <div class="col3">
    <h3>Evaluation</h3>
    <div class="eval"></div>
    <div class="eval"></div>
    <div class="eval"></div>
  </div>
</div>

  <!-- Footer -->
  <footer class="footer-bottom">
    <small>© 2025 Thuy Tran Schema. All rights reserved.</small>
  </footer>

  <script type="module" src="{% static 'js/chat_demo.js' %}"></script> 
  <script type="module" src="{% static 'js/evaluation.js' %}"></script>

</body>
</html>
